@model IEnumerable<Bibtheque.Models.Categorie>

@{
    ViewData["Title"] = "Categories";
}

<h1>Liste des catégories</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Créer une catégorie</a>
</p>
<table class="table" class="table table-striped" style="text-align: center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-warning">Modifier</a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
