@model Utilisateur

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="username"></label>
        <input asp-for="username" />
    </div>
    <div>
        <label asp-for="password"></label>
        <input asp-for="password" type="password" />
    </div>
    <button type="submit">Se connecter</button>
</form>