@model IEnumerable<Bibtheque.Models.Region>

@{
    ViewData["Title"] = "Régions";
}

<h1>Liste des régions</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Ajouter une région</a>
</p>
<table class="table" class="table table-striped" style="text-align: center">
    <thead>
        <tr>
            <th>
                Région
            </th>
            <th>
                Nombre de jours de livraison
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbJourLivraison) j
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-warning">Modifier</a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
